    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
        }
        .centered-text {
            font-size: 24px;
            text-align: center;
            margin-top: 20px;
        }
        .intro-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            width: 100%;
            min-height: 300px;
            padding-left: 80px; /* Adds space for sidebar */
        }
        .intro-pic {
            max-width: 80%;
            height: auto;
        }
        .sidebar {
            position: fixed;
            left: 0;
            bottom: 0;
            top: 55px;
            background-color: white;
            width: 72px;
            z-index: 200;
            padding-top: 5px;
        }
        .sidebar-link {
            height: 74px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
            text-decoration: none;
            color: black;
        }
        .sidebar-link:hover {
            background-color: rgb(235, 235, 235);
        }
        .sidebar-link img {
            height: 44px;
            margin-bottom: 4px;
        }
        .sidebar-link div {
            font-size: 10px;
        }
        /* Style for each section to create space and avoid sidebar overlap */
        section {
            min-height: 500px;
            width: 100%;
            padding: 20px;
            padding-left: 80px; /* Adds space for sidebar */
            box-sizing: border-box;
        }
    </style>
